* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e9e1cc;
    font-family: 'Pacifico', cursive;
}

.container {
    border: 2px solid #4f3961;
    width: 40%;
    min-width: 400px;
    margin: 1rem auto;
    padding: 0 3rem;
    border-radius: 0.5rem;
    background-color: #ea9085;
}

.enter-input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#input-box,
.display-container {
    width: 100%;
}

#input-box {
    font-size: 2rem;
    padding: 0.5rem;
    border: 2px solid #d45079;
    border-radius: 0.5rem;
    outline: none;
    font-family: 'Caveat', cursive;
    color: #a3234c;
}

#input-box::placeholder {
    color: #a3234c;
    opacity: 0.4;
    font-family: 'Caveat', cursive;
}

ol {
    border-bottom: 2px solid #4f3961;
    padding-left: 0;
}

li {
    border: 1px solid #d45079;
    border-radius: 0.5rem;
    font-size: 2rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
    font-family: 'Caveat', cursive;
    color: #a3234c;
}

h1,
p {
    text-align: center;
    color: #260a3d;
}


button {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: #4f3961;
    color: #fff;
    outline: 0;
    border: none;
    outline: none;
    font-family: 'Pacifico', cursive;
}

button:active,
button:hover {
    background-color: #260a3d;
}

@media (min-width: 1000px) {
    .enter-input {
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    #input-box {
        width: 75%;
    }

    button {
        margin-top: 0;
        width: 20%;
    }
}