* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e9e1cc;
    font-family: 'Pacifico', cursive;
}

.container {
    border: 2px solid #4f3961;
    width: 40%;
    min-width: 350px;
    margin: 1rem auto;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    background-color: #ea9085;
}

.enter-input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#input-box,
.display-container {
    width: 100%;
}

#input-box {
    font-size: 2rem;
    padding: 0.5rem;
    border: 2px solid #d45079;
    border-radius: 0.5rem;
    outline: none;
    font-family: 'Caveat', cursive;
    color: #a3234c;
}

#input-box::placeholder {
    color: #a3234c;
    opacity: 0.4;
    font-family: 'Caveat', cursive;
}

#display-list {
    border-bottom: 2px solid #4f3961;
    padding-left: 0;
    list-style-position: none;
}

li {
    border: 1px solid #d45079;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
    font-family: 'Caveat', cursive;
    color: #a3234c;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
} 

.text-content {
    width: 60%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.change-button {
    /* border: 2px solid red; */
    display: flex;
    flex-flow: row nowrap;
    width: 30%;
    justify-content: space-evenly;
}

.done,
.delete {
    font-family: 'Pacifico', cursive;
    padding: 0.1rem;
    font-size: 1rem;
    cursor: pointer;
    margin: 0;
    outline: none;
    background-color: #fff;
    color: #260a3d;
    border: none;
}

.done:hover,
.delete:hover {
       text-decoration: underline;
}

.done:hover {
    color: #059405;
}

.delete:hover {
    color: #aa0808;
}

.clicked {
    text-decoration: line-through;
    color: #260a3d;
}

h1,
p {
    text-align: center;
    color: #260a3d;
}

#add-to-list {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: #4f3961;
    color: #fff;
    outline: 0;
    border: none;
    outline: none;
    font-family: 'Pacifico', cursive;
}

#add-to-list:active,
#add-to-list:hover {
    background-color: #260a3d;
}

@media (min-width: 900px) {
    .container {
        padding: 0 3rem;
    }

    .enter-input {
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    #input-box {
        width: 75%;
    }

    #add-to-list {
        margin-top: 0;
        width: 20%;
    }

    /* .text-content {
        width: 75%;
    }

    .change-button {
        width: %;
    } */

    .done,
    .delete {
        font-size: 1.25rem;
    }
}

@media (max-width: 400px) {
    body,
    .container {
        background-color: #ea9085;;
    }

    .container {
        border: none;
        width: 100%
    }

    body {
        padding: 0 2rem;
    }
}   